* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --blue: #1abc9c;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

/*---top.inc CSS---*/
header{
    width: 100%;
    height: 60px;
    background: #fff;
    box-shadow: 0px 0px 5px #111;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}
header p{
    color: #1abc9c;
}
header a{
    width: 80px;
    height: 35px;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 8px;
    text-decoration: none;
    background: var(--blue);
    color: var(--white);
}

/*---Left.inc CSS---*/
.leftDiv{
    position: relative;
    width: 100%;
    /* width: 250px;
    top: 80px;
    left: 0;
    height: 100vh;
    background: #fff;
    box-shadow: 0px 0px 5px #111; */
}
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li{
    position: relative;
    width: 200%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover{
    background: var(--white);
}
.brand_nav a{
    position: relative;
    top: 25px;
    height: 100px;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.brand_nav a .title{
    position: relative;
    top: 10px;
    display: block;
    padding: 0 10px;
}
.brand_nav a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.brand_nav a .icon ion-icon{
    font-size: 1.75em;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a{
    color: var(--blue);
}
.navigation ul li a .icon{
    position: relative;
    top: 15px;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigation ul li a .icon ion-icon{
    font-size: 1.75em;
}
.navigation ul li a .title{
    position: relative;
    top: 5px;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
/*---後台index right CSS---*/
.cardBox{
    position: relative;
    top: 50px;
    left: 250px;
    width: 80%;
    padding-top: 50px;
    padding-left: 100px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;

}
.cardBox .card{
    width: 270px;
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.1);
}
.cardBox .card .numbers{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--blue);
}
.cardBox .card .cardName{
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}

.cardBox .card .iconBx{
    font-size: 3.5em;
    color: var(--black2);
}
.cardBox .card:hover{
    background: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx{
    color: var(--white);
}

/*--- Chart --*/
.graphBox{
    position: relative;
    left: 350px;
    top: 50px;
    width: 75%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    min-height: 200px;
}
.graphBox .box{
    position: relative;
    background: #fff;
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

/*---Right.inc CSS---*/
.rightDiv{
    width: 75%;
    margin: 80px 10px;
    min-height: calc(100vh - 100px);
    background: #fff;
    box-shadow: 0px 0px 5px;
    float: right;
}

/*---Categories Manage CSS---*/
.rightDiv .headTitle{
    width: 100%;
    background: #f2f2f2;
    height: 80px;
    padding: 0px 20px;
}
.rightDiv .headTitle h2{
    padding: 10px 0;
}
.rightDiv .headTitle a{
   text-decoration: none;
   color: #111;
   font-size: 1em;
}
.rightDiv .headTitle a:hover{
    color:red;
}
.rightDiv form{
    width: 100%;
    padding: 10px 100px;
}
.rightDiv form input[type="text"],.rightDiv select, .rightDiv form input[type="file"]{
    width: 100%;
    padding: 15px 10px;
    outline: none;
    border: 1px solid #111;
    margin: 10px 0;
}

.rightDiv form input[type="submit"]{
    width: 100%;
    padding: 15px 10px;
    outline: none;
    border: 0;
    background: #009688;
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 1px;
    cursor: pointer;
}
.msg{
    color: red;
    padding: 10px 0;
}
.view{
    width: 100%;
    padding: 10px 100px;
}
table{
    text-align: center;
}
table th, table td{
    padding: 10px 0;
}
table td a{
    text-decoration: none;
    font-size: 1em;
}