html {
  overflow: -moz-hidden-unscrollable;
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444;
  max-width: 100%;
  height: auto;
  background-image: url("../img/首頁02_OUT.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  color: #428bca;
  text-decoration: none;
}

a:hover {
  color: #9eccf4;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  font-family: "Raleway", sans-serif;
}

p {
  width: 350px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 25px;
  bottom: 15px;
  z-index: 99999;
  background: #00ba9b;
  width: 70px;
  height: 70px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top p {
  font-size: 9px;
  color: #fff;
  line-height: 0;
  position: relative;
  left: 20px;
  top: 3px;
}

.back-to-top-img {
  width: 50px;
  position: relative;
  left: 10px;
  top: 8px;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #00ba9b;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
/* @media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
} */

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 997;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  justify-content: center;
}

.navbar .activity_top_img {
  width: 100%;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.head_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.head_icon img {
  width: 70px;
  height: 70px;
}

.back-to-home {
  position: relative;
  left: 150px;
}

.back-to-home a {
  color: #000;
}

.info_title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  text-align: center;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 30px 0;
  overflow: hidden;
}

.section-title {
  width: 300px;
  text-align: center;
  position: relative;
  display: flex;
}

.section-title h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  padding-bottom: 0;
  color: #00ba9b;
  position: relative;
}

.section-title img {
  width: 70px;
  height: 70px;
}

.section-title .span1 {
  width: 130px;
  height: 35px;
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  padding-bottom: 0;
  background-color: #4182f4;
  color: #fff;
  border-radius: 10px;
  position: relative;
}

.section-title .span2 {
  width: 220px;
  height: 35px;
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  padding-bottom: 0;
  background-color: #4182f4;
  color: #fff;
  border-radius: 10px;
  position: relative;
}

@media (max-width: 919px) {
  .section-title {
    position: relative;
    left: 0;
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.services-activity {
  width: 1250px;
  display: flex;
  position: relative;
  justify-content: center;
}

.services-description {
  width: 550px;
  position: relative;
  /* right: 180px; */
}

.part1-description {
  width: 600px;
  position: relative;
  right: 180px;
}

.services-description p {
  width: 500px;
  font-weight: 600;
  position: relative;
}

.part1-description p {
  width: 500px;
  font-weight: 600;
  position: relative;
}

.services-activity .services_activity_img {
  border-radius: 60px;
  width: 500px;
  height: 330px;
  margin-top: 80px;
}

@media (max-width: 1250px) {
  .services-activity {
    max-width: 100%;
  }
}

@media (max-width: 1120px) {
  .services-description {
    position: relative;
    left: 20px;
  }

  .services-description p {
    width: 450px;
  }
  .services-activity .services_activity_img {
    width: 450px;
    height: 330px;
  }
}

@media (max-width: 992px) {
  .part1-description {
    position: relative;
    right: 0;
    padding-right: 100px;
  }
}

@media (max-width: 956px) {
  .services-activity {
    display: flex;
    position: relative;
  }
  .services-description {
    position: relative;
    left: 60px;
  }
  .services-description p {
    font-size: 18px;
  }
  .services-activity .services_activity_img {
    width: 400px;
    height: 300px;
    position: relative;
    right: 20px;
  }
}

@media (max-width: 919px) {
  .services-description {
    padding: 0;
    position: relative;
  }
  .services-description a {
    position: relative;
    left: 120px;
    bottom: 40px;
  }
  .services-activity {
    flex-wrap: wrap;
  }
  .services-activity .services_activity_img {
    position: relative;
    width: 350px;
    height: 250px;
    border-radius: 40px;
  }
}

@media (max-width: 856px) {
  .services-description p {
    font-size: 16px;
  }
  .services-activity .services_activity_img {
    position: relative;
    border-radius: 30px;
    width: 300px;
    height: 200px;
  }
}

@media (max-width: 803px) {
  .department {
    margin-left: 130px;
  }
  .services-activity {
    position: relative;
    right: 130px;
  }
  .services-description p {
    font-size: 16px;
    width: 400px;
  }
  .services-activity .services_activity_img {
    position: relative;
    right: 50px;
  }
}

/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/

.department {
  width: 1000px;
  position: relative;
}

.department a {
  display: inline-flex;
  font-size: large;
  font-weight: 600;
  color: #000;
  padding: 10px;
  line-height: 40px;
}

.depart_button {
  width: 200px;
  display: inline-block;
  border-style: solid;
  border-width: 3px;
  border-color: #00ba9b;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  padding: 5px;
  transition-duration: 0.3s;
  text-align: center;
}

.depart_button:hover {
  background-color: #00ba9b;
  color: #fff;
}

@media screen and (max-width: 990px) {
  .department {
    width: 900px;
    position: relative;
  }
}

@media screen and (max-width: 803px) {
  .department {
    width: 700px;
    position: relative;
  }

  .part1-description {
    position: relative;
  }

  .services-activity {
    padding-left: 250px;
  }
}

@media screen and (max-width: 743px) {
  .services-description {
    margin-left: 50px;
  }
  .services-description p {
    font-size: 16px;
    width: 350px;
  }
  .services-activity .services_activity_img {
    position: relative;
    right: 100px;
  }
}

@media screen and (max-width: 708px) {
  .part1-description {
    margin-left: 150px;
  }
  .section-title {
    margin-left: 30px;
  }
  .department {
    position: relative;
    right: 60px;
  }
  p {
    font-size: 15px;
  }
  .services-description p {
    font-size: 15px;
    width: 350px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 683px) {
  .info_title {
    font-size: 16px;
  }
  .part1-description {
    margin-left: 150px;
  }
  .section-title {
    margin-left: 30px;
  }
  .department {
    position: relative;
    right: 60px;
  }
  .services-description p {
    font-size: 14px;
    width: 350px;
    margin-left: 30px;
  }
  .services-activity .services_activity_img {
    position: relative;
    right: 110px;
  }
}

@media screen and (max-width: 636px) {
  .part1-description {
    padding-left: 300px;
  }
  .services-activity {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .department {
    position: relative;
    right: 230px;
  }
  .services-activity .services_activity_img {
    position: relative;
    bottom: 70px;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 636px) {
  .head_icon img{
    width: 60px;
    height: 60px;
  }
  .head_icon h1 {
    font-size: 28px;
  }
  .info_title {
    font-size: 14px;
  }
  .depart_button {
    width: 200px;
    font-size: 16px;
  }
}

@media screen and (max-width: 486px) {
  .info_title {
    font-size: 13px;
  }
  .department {
    width: 450px;
    padding-left: 40px;
  }
  .depart_button {
    width: 160px;
    font-size: 14px;
  }
}

@media screen and (max-width: 456px) {
  .info_title {
    font-size: 12px;
  }
  .department {
    width: 400px;
  }
  .depart_button {
    width: 160px;
    font-size: 14px;
  }
}

/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/

.back-to-money-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00ba9b;
  width: 200px;
  height: 65px;
  border-radius: 20px;
  color: #fff;
  box-shadow: 3px 3px 5px #5a5858;
  position: relative;
  margin-top: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back-to-money-item p {
  display: flex;
  align-items: center;
  justify-content: center;
}
