/*------------------New Products CSS------------------*/
.newPhoto{
    width: 100%;
    padding: 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Indexrow{
    padding-left: 110px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items:center;
    flex-wrap: wrap;
  }
  .Indexrow .Indexcol{
    width: 400px;
    margin: 10px 10px;
    /* box-shadow: 0px 1px 5px rgba(0 0 0 / 70%); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
  }
  .Indexrow .Indexcol .imgBx img{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .itemouter{
    display: block;
  }
  .details{
    text-align: start;
    width: 380px;
    margin: -10px 0px 0px 20px;
}
.details h4{
    font-size: 1rem;
    margin: 20px;
    color: #000;
    display: flex;
    justify-content: center;
}